<% if (data.count> 0) { %>

    <div class="container">
        <p class="ca-data__count">Count: <%= data.count %>
        </p>

        <div class="ca-data__table-wrapper">
            <table class="table">
                <thead class="table__head">
                    <tr class="table__row">
                        <th>Object</th>
                        <th>Date<br>(UTC)</th>
                        <th colspan="2">Distance<br>(km, lunar distance)</th>
                        <th>Velocity<br>(km/s)</th>
                        <th>Animations<br>(new tab)</th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <% for (let i=0; i < data.data.length; i +=1) { %>
                        <tr data-object="<%= data.data[i][0].replace(/ /, '-') %>">
                            <td class="table__cell-nowrap">
                                <%= data.data[i][0] %>
                            </td>
                            <td data-jd="<%= data.data[i][2] %>"><span class="table__cell-nowrap">
                                    <%= data.data[i][3] %>
                                </span> <span class="table__cell-nowrap table__deviation"> &#177;<%= data.data[i][9] %>
                                </span>
                            </td>
                            <td data-distance="<%= data.data[i][4] %>">
                                <%= (data.data[i][4] * 149597870.7).toLocaleString(undefined, { maximumFractionDigits: 0
                                    }) %>&nbsp;km
                            </td>
                            <td>
                                <%= (data.data[i][4] * 389.17037554435).toLocaleString(undefined, {
                                    minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>&nbsp;ld
                            </td>
                            <td>
                                <%= parseFloat(data.data[i][7]).toFixed(2) %>
                            </td>
                            <td>
                                <div class="table__links">
                                    <a class="table__link" target="_blank"
                                        href="https://cneos.jpl.nasa.gov/ca/ov/#load=&desig=<%= data.data[i][0].replace(/ /, '%20') %>&cajd=<%= data.data[i][2] %>">Link1</a>
                                    <a class="table__link" target="_blank"
                                        href="https://ssd.jpl.nasa.gov/ov/#load=<%= data.data[i][0].replace(/ /, '%20') %>&time=<%= (data.data[i][2] - 2440587.5)*86400000 %>&lookat=SSB&interval=11&eclipticgrid=false&">Link2</a>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <% } else { %>
        <p class="count">Count: <%= data.count %>
        </p>
        <% } %>